<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	{{!-- link to CSS --}}
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Welcome to the Good Burger!</title>

	{{!-- jQuery link --}}
	<script src="https://code.jquery.com/jquery.js"></script>

	{{!-- javascript link --}}
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>