body,
html {
  height: 100%;
  margin: 0px;
  background-image: url("/assets/img/goodburger.jpg");
  background-position: center;
  background-repeat: round;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: bolder;
}

.name {
  width: 300px;
  height: 280px;
}

header {
  text-align: center;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ate,
.eat,
.add {
  background-color: lightyellow;
  text-align: center;
  max-height: 700px;
  max-width: 400px;
}

li,
.form-group {
  margin: 15px;
}

ul {
  list-style-type: none;
}

.change-devoured,
.delete-burger,
.submit {
  background-color: #FFBF00;
  font-weight: bolder;
}

#ca {
  border: solid 2px #FFBF00;
}

.submit {
  margin-bottom: 10px;
}
