/* setting background for page */
body,
html {
  height: 100%;
  margin: 0px;
  background-image: url("/assets/img/goodburger.jpg");
  background-position: center;
  background-repeat: round;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: bolder;
}

/* sizing goodburger icon */
.name {
  width: 300px;
  height: 280px;
}

/* centers header */
header {
  text-align: center;
}

/* styling container so content appears in a row */
.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* adding background color and sizing boxes with content */
.ate,
.eat,
.add {
  background-color: #ff7000;
  text-align: center;
  max-height: 700px;
  max-width: 400px;
}

/* styling lists to not show bullets and adding margin */
li,
.form-group {
  margin: 15px;
}

ul {
  list-style-type: none;
}

/* styling buttons */
.change-devoured,
.delete-burger,
.submit {
  background-color: #FFBF00;
  font-weight: bolder;
}

/* changing color of input box */
#ca {
  border: solid 2px #FFBF00;
}

/* adding bottom margin to submit button */
.submit {
  margin-bottom: 10px;
}
