body,
html {
  height: 100%;
  margin: 0px;
  background-image: url("/assets/img/goodburger.jpg");
  background-position: center;
  background-repeat: round;
  background-size: cover;
  background-repeat: no-repeat;
}

.name {
  width: 300px;
  height: 280px;
}

header {
  text-align: center;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: solid 4px white;
}

.ate,
.eat,
.add {
  border: solid 4px white;
  background-color: lightyellow;
}